@import "../../breakpoints.scss";

.container {
  margin-top: -25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 35px;
  column-gap: 35px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  @include md{
    padding: 4rem;
    padding-top: 2rem;
  }
  .par{
    margin-top:30px;
    @include md{
      margin-top: 0px;
    }
  }

  @include md {
    grid-template-columns: repeat(4, 1fr);
  
  }

  @include lg {
  }
}
