@import"../../breakpoints.scss";

.verticalCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  direction: initial;
  position: relative;
  max-width: 100%;
  cursor: pointer;
  background: transparent;
  // transition: box-shadow 300ms ease-in-out;
  // -webkit-transition: box-shadow 300ms ease-in-out;
  // -moz-transition: box-shadow 300ms ease-in-out;
  // -ms-transition: box-shadow 300ms ease-in-out;
  // -o-transition: box-shadow 300ms ease-in-out;
  @include md{
    margin-top: 50px;
  }

  .textContainer {
    display: flex;
    min-height: 150px;
    flex-direction: column;
    width: 100%;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 20px;
    background: #fff;
    justify-content: center;
    word-break: break-word;
    box-shadow: -2px 3px 0 2px #00000033;
    flex-grow: 1;
    position: relative;

    @include md{
      background: transparent;
      display: flex;
      border:none;
      padding: 5px;
      box-shadow: none;
      border-radius: 0px;
      justify-content: start;
      min-height: 0px;
    }

    .shadowProfesor{
    box-shadow: -2px 3px 0 2px #e5603f7a;
    @include md{
     box-shadow: none;
    }
    }
    .shadow{
     box-shadow:  -2px 3px 0 2px #00000033;
     @include md{
      box-shadow: none;
     }
    }

    .price_and_starts{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    .brandText {
      font-size: 16px;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    h4 {
      text-align: center;
      margin: 0px;
      margin-top: 45px;
      z-index: 1;
      font-size: 15px;
      color: #484848;
      min-height: 50px;
      @include md{
        margin-top: 10px;
      }
    }

    span {
      font-size: 16px;
      font-weight: 500;
    }

    .priceContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      .discount {
        background-color: red;
        border-radius: 4px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: perspective(10px);
        font-size: 17px;
        color: #fff;
        font-weight: bold;
        margin-right: 10px;
      }
      .prices {
        display: flex;
        flex-direction: column;
       .containerStartandSale{
         display: grid;
         margin-left: 12px;
        grid-template-columns: repeat(2,1fr);        
       }


        .priceText {
          text-decoration: line-through;
          color: grey;
          font-weight: bold;
          display: flex;
          flex-direction: column;
        }
      }
    }
    .salePriceText {
      font-size: 22px;
      font-weight: 600;
      color: #262f5f;
    }
  }

  .add{
    border: 0;
    border-radius: 999px;
    width: 40px;
    color: #fff;
    font-size: 24px;
    height: 40px;
    bottom: -15px;
    /* top: -5px; */
    transform: perspective(10px);
    z-index: 1;
    background: #262f5f;
    position: absolute;
    right: 3px;
    cursor: pointer;
  }


  .imageContainer {
    width: 100%;
    padding-top: 45%;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    flex-shrink: 0;
    @include md{
    width: 100%;
    padding-top: 0px;
    border-radius: 0px;
    justify-content: center;

    }

  
    .image {
      position: absolute;
      border-radius: 100px;
      width: 200px;
      top: 0px;
      height: 120px;
      box-shadow: 0px 0px 0px 3px #00000033;
      width: 80%;
      z-index: 1;
      @include md{
      position: static;
      border-radius: 10px;
       height: 180px;
       box-shadow: none;
      }
    }
  }

  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .favContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    background:  #070a17;
    color: white;
    z-index: 10;
    font-weight: bold;
    padding: 8px;
    border-radius: 60px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border: 0;
  }
}

