.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
    margin-top: 30px;
  }
  
  .skeleton-text {
    width: 100%;
    height: 16rem;
    margin-bottom: .25rem;
    border-radius: 20px;
  }
  
  .skeleton-text:last-child {
    margin-bottom: 0;
    width: 100%;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
  