@import "../../breakpoints.scss";

.container{
    border-start-end-radius: 30px;
    border-start-start-radius: 30px;
    box-shadow: 0px -3px 12px 0px #0006;
    @include md{
        border-start-end-radius: 0px;
        border-start-start-radius: 0px;
    }
    .container__Footer{
        h4{
            margin: 0;
        }
        padding: 20px;
        min-height: 260px;
        color: #fff;
        text-align: center;
        .text{
            max-width: 100%;
        text-align: center;
        }
        .addres{
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }

    }
}
